*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   

}
.logo{
    height: 80px;
    width: 100px;
   margin-right: 20px;
}

/* /* start header */

#header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px 80px;
    border-color: antiquewhite;
    box-shadow: 0px 5px 15px rgb(0, 0,0,0.06);
    top: 0;
    left: 0;
    
   
    

}
#nav_bar{
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 40px;
    

  
}
#nav_bar li{
    justify-content: space-around;
    list-style: none;
    transition: 0.3ms ease;
    margin: 15px;
    
}
#nav_bar li a{ 
    text-decoration: none;
    font-size: large;
    color: #000000;
    padding: 10px;
    font-family: sans-serif;
}
#nav_bar li a:hover{
    color: rgb(255, 255, 255);
    background-color: cadetblue;
    border-radius: 30px;
    border: none;

}


#hero{
    
    height: 115vh;
    width: 100%;
    background-image: url(pxl.jpeg);
    background-position:top 25% right 0;
    background-size: cover;
     padding: 0 80px;
     display: flex;
     align-items: flex-start;
    justify-content: center;   
    flex-direction: column; 
    
}
#hero h4{
padding-bottom: 15px;
color: rgb(12, 8, 8);
opacity: 0.6;
}
#hero h2{
color:#088178;

}
#hero h1{
color:#000000;
font-style: italic;
opacity: 0.6;

}
#hero p{
color:#d1340d;

}
#hero button{
background-color: #088178;
color: #ffffff;
border:0;
padding: 14px 80px 14px 65px;
background-repeat: no-repeat;
cursor: pointer;
font-weight: 700px;
font-size: 15px;
border-top-left-radius: 55%;
border-bottom-right-radius: 55%;
margin: 20px;
}
#hero button:hover{
    background-color: cadetblue;
    color: beige;
}

.mark{
    color: red;
    font-size: large;
    font-weight:bolder ;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0px;
}
#Feature{
display: flex;
align-items: center;
justify-content: center;
}
#Feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 15px 15px 15px rgb(0, 0,0,0.06);
    border: 1px solid whitesmoke;
    border-radius:4px;

}
#Feature .fe-box h6{
padding: 9px 8px 6px 8px;
line-height: 1;
border-radius: 4px;
cursor: pointer;
}
#Feature .fe-box h6:hover{
background-color: #088178;
color: #ffffff;
}

#Feature .fe-box .btn1{
    background-color: #050505;
    font-size: medium;
    color: #000000;
}
#Feature .fe-box .btn1{
    background-color: #81ee8a;
    font-size: medium;
}
#Feature .fe-box .btn2{
    background-color: #66eba8;
    font-size: medium;
}
#Feature .fe-box .btn3{
    background-color: #f1b25f;
    font-size: medium;
}
#Feature .fe-box .btn4{
    background-color: #dff75a;
    font-size: medium;
}
#Feature .fe-box .btn5{
    background-color: #6cf160;
    font-size: medium;
}
#Feature .fe-box .btn6{
    background-color: #f8c843;
    font-size: medium;
}

#Feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;

}
.rowo{
    background-color: #088178;
    height: 400px;
    text-align: center;
   

}
.col{
background-color: #d1340d;
width: 200px;
height: 100px;
margin: 0% auto;

}

.dag{
    width: 50%;
    margin: 0% auto;
    
}
 .star{
  color: goldenrod !important;
}

.img-fluid{
    border-radius: 50px;
    box-shadow: 15px 15px 15px rgba(15, 15, 15, 0.190);
}
h3.text-danger{
    font-weight: bold;
}

.col-3{
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 15px 15px 15px rgba(15, 15, 15, 0.190);
}
.divbox{
    text-align: center;
    margin: 10px;
}
.p-name{
    text-align: center;
     color: rgb(15, 15, 15);
     margin: 30px;

}
.row{
    box-sizing: border-box;
    margin: 10px;
}
.di{
    width: 120px;
    height: 50px;
    background-color: rgb(5, 54, 63);
    color: #ffffff;
    transition:2s;
    margin: 10px;
    font-weight: bold;
}
.di:hover{
    width: 50%;
    background-color: #5690b6;
    color: #ffffff;
}
.dew{
    width: 10%;
    height: 20px;
    transition: 2s;
background-color: #d1340d;    
    
}

.dew:hover{
    width: 50%;
    background-color: rgb(7, 86, 100);
    color: #ffffff;
}